body {
  /* background: url("./regi.jpg"); */
  background-size:contain;
  background-position:top;
  background: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
